@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    @keyframes fade-in-down {
        0% {
            opacity: 0;
            transform: translateY(-20px);
        }
        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }
    .animate-fade-in-down {
        animation: fade-in-down 0.8s ease-out forwards;
    }

    @keyframes ken-burns {
        0% {
            transform: scale(1) translate(0, 0);
        }
        100% {
            transform: scale(1.1) translate(-2%, 2%);
        }
    }
    .animate-ken-burns {
        animation: ken-burns 10s ease-out forwards alternate-reverse infinite;
    }
}
